{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/arcon.32x32.jpeg' %}"
    />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <h1>ArconHUB</h1>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
          <li><a href="/" class="navlink">Home</a></li>
          <li><a href="#" class="navlink">Shop</a></li>
          <li><a href="{% url 'aboutus' %}" class="navlink">About</a></li>
          <li><a href="#" class="navlink">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="login-form-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login_view' %}">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            {% if form.username.errors %}
            <div class="error">{{ form.username.errors.0 }}</div>
            {% endif %}
          </div>

          <!-- Password Field -->
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            {% if form.password.errors %}
            <div class="error">{{ form.password.errors.0 }}</div>
            {% endif %}
          </div>

          <!-- Non-Field Errors -->
          {% if form.non_field_errors %}
          <div class="error">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <!-- Submit Button -->
          <button type="submit" class="login-button">Log In</button>
        </form>

        <!-- Additional Links -->
        <div class="login-links">
          <a href="{% url 'password_reset' %}">Forgot Password?</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        </div>
      </div>
    </div>

    <script>
      function toggleMenu() {
        const menu = document.querySelector(".menu");
        menu.classList.toggle("open");
      }
    </script>
  </body>
</html>
