{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-up Page</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/arcon.32x32.jpeg' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/game page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <h1>ArconHUB</h1>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <ul class="menu">
          <li><a href="/" class="navlink">Home</a></li>
          <li><a href="#" class="navlink">Shop</a></li>
          <li><a href="{% url 'aboutus' %}" class="navlink">About</a></li>
          <li><a href="#" class="navlink">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <div class="login-form-container">
        <h2>Sign up</h2>
        <form method="post" action="{% url 'signup_view' %}">
          {% csrf_token %}

          <!-- Username Field -->
          <input type="text" name="username" placeholder="Username" required />

          {% if form.username.errors %}
          <div class="error">{{ form.username.errors }}</div>
          {% endif %}

          <!-- Email Field -->
          <input type="text" name="email" placeholder="Email" required />

          {% if form.email.errors %}
          <div class="error">{{ form.email.errors }}</div>
          {% endif %}

          <!-- Password Field -->
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          {% if form.password.errors %}
          <div class="error">{{ form.password.errors }}</div>
          {% endif %}

          <!-- Submit Button -->
          <button type="submit" class="login-button">Submit</button>
        </form>

        <div class="login-links">
          <a href="{% url 'login' %}">Log in</a>
        </div>
      </div>
    </div>
  </body>

  <script>
    function toggleMenu() {
      const menu = document.querySelector(".menu");
      menu.classList.toggle("open");
    }
  </script>
</html>
